QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0._iDOc8wpNoBDvUFPpQvAQjJEfxuOeW0nVBQn-6VT9uM"
QDRANT_URL="./qdrant_data"
COHERE_API_KEY="TCsKt71vygXvSyluqHFFcOObN3nNTz6NpUkRLsJT"
ROOT_URL=https://hackathon-ai-book-fawn.vercel.app
CHUNK_SIZE=512
CHUNK_OVERLAP=50
GEMINI_API_KEY="AIzaSyA08apsET3nibiGbVb0D-rl78h99SqcG5s"